body {
    background-color: rgb(0, 0, 0);
    max-width: 900px;
    margin: auto;
}

#title {
    font-family: verdana;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: underline; 
    text-align: center;   
}

.subtitle {
    color: rgb(255, 255, 255);
}

.post_title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: verdana;
}

.post {
    background: rgb(0, 0, 0);
    margin: 10px;
}

.text {
    color: rgb(255, 255, 255);
}

.pg_title {
    padding: 100px;
    border: 5px solid rgb(255, 255, 255);
}

.img_TI2 {
    padding: 0 0 0 450px;
    border-radius: 25%;
    border: solid white 1px;
    margin: 0 ;
    text-align: center;
}

.names {
    color: white;
    list-style-type: none;
    padding-left: 15px;

}